html, body {
    margin: 0;
    background-color: rgb(162, 196, 225);
}
body {
    
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
   
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    padding: 10px 20px 0px;
    
}

ul li{
    list-style-type: none;
    
}
.header {
   
    min-height: 150px;
}

.header img{
    width: 985px;
    height: 300px;
    
   
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}



.footer {
    
    min-height: 150px;
}